numpy==1.26.4
pillow==10.4.0
torch==2.4.0+cu118
matplotlib==3.9.1
Scipy==1.14.0
scikit_image==0.24.0
scikit_learn==1.5.1
opencv-contrib-python==4.10.0.84
pymatting==1.1.12
segment_anything==1.0
timm==0.6.13
addict==2.4.0
yapf==0.40.2
colour-science==0.4.4
wget==3.2
mediapipe==0.10.14
loguru==0.7.2
typer_config==1.4.0
fastapi==0.110.3
rich==13.5.2
google-generativeai==0.7.2
diffusers==0.29.2
omegaconf==2.3.0
tqdm==4.66.4
kornia==0.7.3
ultralytics==8.2.66
blend_modes==2.1.0
blind-watermark==0.4.4
qrcode==7.4.2
pyzbar==0.1.9
transparent-background==1.3.1
huggingface_hub==0.26.2
accelerate==1.0.1
onnxruntime==1.18.1
torchscale==0.3.0
wandb==0.17.9
psd-tools==1.9.34
hydra-core==1.3.2
protobuf==4.25.4
inference-cli==0.17.0
inference-gpu[yolo-world]==0.15.2
bitsandbytes==0.44.1
transformers==4.46.1
peft==0.12.0
iopath==0.1.10
